.bottom-nav{
    position: fixed;
    bottom: 0;
    background: powderblue;
    width: 100%;
    padding: 20px;
    display: flex;
    /* gap: 30px; */
    justify-content: space-around;
    align-items: center;
}
.nav-links{
    color: inherit;
    text-decoration: none;
}
.nav-label{
    display: none;
}